
#PlaylistList{
    margin: 0;
}

#PlaylistDisplay{
    margin: 0 auto 0 auto;

    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
  
.PlaylistOption{
    width: 10em;
    margin: 5px;
}

.noImage{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.width{
    /* height: 15%; */
    margin: 0;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}