#TrackHoverDetail{
    background-color: gray;
    box-shadow: 4px;
    display: inline-flex;
    flex-direction: row;
    padding: 3px;
}

#TrackHoverDetail h1{
    font: bold 24px arial;
}
#TrackHoverDetail h2{
    font: bold 20px arial;
}

.hidden{
    visibility: hidden;
}

#CornerButtons{
    position: absolute;
    z-index: 1;
    right: 0;
    margin: 5px 5px 0 0;

    display: flex;
    flex-direction: column;
}

#CornerButtons > *{
    padding: 2px;
}