#Graph{
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(0,0,0,0.5);
}

#TrackHoverDetail{
    background-color: #2E2E2E;
    box-shadow: 4px;
    display: inline-flex;
    flex-direction: row;
    padding: 3px;

    border-radius: 5px;
}

#TrackHoverDetail h1{
    font: bold 18px arial;
    color: white;
    padding: 5px
}
#TrackHoverDetail h2{
    font: bold 15px arial;
    color: white;
    padding: 5px
}

.hidden{
    visibility: hidden;
}

#CornerButtons{
    position: absolute;
    z-index: 1;
    right: 0;
    margin: 5px 5px 0 0;

    display: flex;
    flex-direction: column;
}

#CornerButtons > *{
    padding: 2px;
}

.alert{
    position: absolute;
    bottom: 2px;
    right:0;

    justify-items: end;
    width:100%;
}

.helpAlert{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.helpAlert>div{
    margin-left: 5px;
}
#Creds{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoButton{
    display:flex;
    justify-content: flex-end;
}