#PlaylistView{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

#PlaylistTracks{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto 0 auto 0;
}

.PlaylistEntry{
    padding: 2px 0 2px 0;
    margin: 2px 0 2px 0;
    background-color: burlywood;
    width:100%;

}
.PlaylistEntry h1{
    font-size: 18px;
}
.PlaylistEntry h2{
    font-size: 15px;
}



#TrackViewer{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#TrackViewer #ExitButton{
    margin-top: auto;
}

#TrackViewer #Track{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
